---
interface Props {
	title: string
	ogImage?: string
	description?: string
}

const { title, ogImage, description } = Astro.props
---

<meta charset='UTF-8' />
<meta
	name='description'
	content={description ?? 'Pagina para saber cuanto falta para el proximo partido del Club Estudiantes de La Plata'}
/>
<meta
	name='keywords'
	content='Partidos Estudiantes, PARTIDOS EDLP, partidos edlp, Estudiantes de La Plata, Copa de La Liga, Copa Argentina, Copa Sudamericana, Copa Libertdores, Noche del León, Supercopa Argentina'
/>
<meta name='robots' content='index, follow' />
<meta name='copyright' content='@OctaEDLP00' />
<meta name='language' content='ES' />
<meta name='author' content='Octavio Caro, octavio.pincha@gmail.com' />
<meta name='theme-color' content='#ff0000' media='(prefers-color-scheme: light)' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta name='generator' content={Astro.generator} />
<!-- Open Graph Facebook and other pages -->
<meta property='og:url' content='https://cuando-juega-edlp.netlify.app' />
<meta property='og:type' content='website' />
<meta property='og:title' content={title} />
<meta
	property='og:description'
	content='Informacion sobre los proximos partidos de Estudiantes de La Plata'
/>
<meta property='og:image' content={ogImage} />
<!-- Open Graph Twitter and other pages -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@CaroOcta00' />
<meta name='twitter:creator' content='@CaroOcta00' />
<meta name='twitter:title' content={title} />
<meta
	name='twitter:description'
	content='Informacion sobre los proximos partidos de Estudiantes de La Plata'
/>
<meta name='twitter:image' content={ogImage} />
<title>{title}</title>
