---
import Layout from '@layouts/Layout.astro'
import CardVS from '@react/CardVS'
import { fetchAPI } from '@utils/fetchAPI'
import { URL_API_ENDPOINT_2023 } from '../const'

const partidos = await fetchAPI(URL_API_ENDPOINT_2023)
const { vs: vsParams } = Astro.params
const versusPartido = partidos.find(({ vs }) => vs.toLowerCase().replace(' ', '-') === vsParams.toLowerCase())
if (!versusPartido) return Astro.redirect('/404')
---

<Layout title={`Cuando juega EDLP - ${versusPartido.vs}`}>
  <main
		class='flex p-4 justify-center md:justify-evenly items-center md:h-full'
	>
		<div
      class='grid grid-rows-2 md:grid-cols-2 place-items-center gap-y-3'
      transition:name={`partido-${versusPartido.vs}`}
    >
      <div class='col-span-1 text-center'>
        <picture>
          <img
            loading='lazy'
            class='object-contain w-auto h-44'
            src={versusPartido.img}
            alt={`Escudo del equipo ${versusPartido.vs}`}
          />
        </picture>
        <h2 class='text-xl mx-0 my-2'>{versusPartido.vs}</h2>
        <p class='text-sm'>{versusPartido.copa}</p>
      </div>
      <div class='col-span-1'>
        <CardVS client:only='react' copa={versusPartido.copa} date={versusPartido.date} />
      </div>
		</div>
	</main>
</Layout>
