---
import Footer from '~/components/Footer.astro'
import Navbar from '~/components/Navbar.astro'
import TeamCard from '~/components/TeamCard.astro'
import { partidos } from '~/const/partidos.ts'
import Layout from '~/layouts/Layout.astro'
---

<Layout title='Cuando juega EDLP'>
	<Navbar />
	<main class='flex justify-center p-4 mx-auto'>
		<div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full'>
			{partidos.map(({ copa, date, fecha, footballTeam, isSuspended, isVisitor, theme }) => (
				<TeamCard
					copa={copa}
					date={date}
					fecha={fecha}
					footballTeam={footballTeam}
					isSuspended={isSuspended}
					isVisitor={isVisitor}
					theme={theme}
				/>
			))}
		</div>
	</main>
	<Footer />
</Layout>
