---
import Card from '@components/Card.astro'
import { URL_API_ENDPOINT } from '@const/index'
import Layout from '@layouts/Layout.astro'
import { fetchAPI } from '@utils/fetchAPI'
const partidos = await fetchAPI(URL_API_ENDPOINT)
---

<Layout title='Cuando juega Edlp'>
  <main class=''>
    <div id='cards' class='grid place-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4'>
      {
        partidos.map(({ vs, img, copa, date, fecha, isVisitor }) => (
          <Card
            vs={vs}
            img={img}
            copa={copa}
            date={date}
            fecha={fecha}
            isVisitor={isVisitor}
          />
        ))
      }
    </div>
  </main>
</Layout>
