---
import Badge from '~/components/Badge.astro'
import Fecha from '~/components/Fecha.astro'
import Temporizador from '~/components/Temporizador.tsx'
import type {
	Copa,
	Fecha as F,
	DateType,
	ImgProps,
	LocalFootballStadium,
	InternazionalFootbalStadium
} from '~/const/types.d'

interface FootballTeam {
	img: ImgProps
	rawVs: string
	footballStadium: LocalFootballStadium | InternazionalFootbalStadium | null
	vs: string
}

interface Props {
	copa: Copa
	date: DateType | null
	fecha: F | number
	footballTeam: FootballTeam
	isSuspended?: boolean
	isVisitor?: boolean | null
}

const {
	copa, date, fecha, footballTeam, isSuspended,	isVisitor
} = Astro.props
const { img, vs } = footballTeam
const { alt, src, height, width } = img
---

<section
	class:list={[
		copa === 'Torneo de La Liga' &&
			'bg-[#4394ff] dark:bg-[#1c4b88] shadow-[#1c4b88] dark:shadow-[#4394ff]',
		copa === 'Copa de La Liga' &&
			'bg-[#0BBAD9] dark:bg-[#09798C] shadow-[#09798C] dark:shadow-[#0BBAD9]',
		copa === 'Copa Libertadores' &&
			'bg-[#4AA02C] dark:bg-[#007848] shadow-[#007848] dark:shadow-[#4AA02C]',
		copa === 'Copa Sudamericana' &&
			'bg-[#FF1010] dark:bg-[#A10102] shadow-[#A10102] dark:shadow-[#FF1010]',
		copa === 'Copa Argentina' &&
			'bg-[#dd794b] dark:bg-[#FF5722] shadow-[#FF5722] dark:shadow-[#dd794b]',
		copa === 'Noche del León' &&
			'bg-[#6366F1] dark:bg-[#3730A3] shadow-[#3730A3] dark:shadow-[#6366F1]',
		copa === 'Supercopa Argentina' &&
			'bg-[#B93CA5] dark:bg-[#8b1578] shadow-[#8b1578] dark:shadow-[#B93CA5]',
		copa === 'Trofeo de Campeones' &&
			'bg-[#c4c4c4] dark:bg-[#575757] shadow-[#575757] dark:shadow-[#c4c4c4]',
		copa === 'Torneo Apertura' &&
			'bg-[#00ffa2] dark:bg-[#019e64] shadow-[#019e64] dark:shadow-[#00ffa2]',
		copa === 'Torneo Clausura' &&
			'bg-[#ff005d] dark:bg-[#970138] shadow-[#970138] dark:shadow-[#ff005d]'
	]}
	class='relative flex flex-col items-center justify-center w-40 h-56 gap-4 rounded-lg shadow-lg'
>
	<header class='relative'>
		<img height={height} width={width} class='size-16' alt={alt} src={src} />
		<Badge isVisitor={isVisitor} />
	</header>
	<main class='flex flex-col items-center gap-1.5'>
		<h1 class='text-base uppercase'>{vs}</h1>
		<h2 class='text-sm'>{copa}</h2>
		<Fecha fecha={fecha} />
	</main>
	<footer class='w-full h-6'>
		<Temporizador
			client:only='react'
			isSuspended={isSuspended}
			copa={copa}
			date={date}
		/>
	</footer>
</section>
