---
import Card from './Card'
import { fetchAPI } from '@utils/fetchAPI'
import { URL_API_ENDPOINT_2023 } from '../const/index'

const partidos = await fetchAPI(URL_API_ENDPOINT_2023)
---

<main
	class='flex flex-col items-center justify-center gap-4 w-full pt-16 mt-16 md:mt-32 overflow-x-hidden md:flex-row md:flex-wrap md:justify-center md:lg:xl:mt-24'
>
	<div
		id='cards'
		class='grid gap-4 place-content-center grid-cols-1 justify-items-center w-[1100px] h-full md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-4 mt-8'
	>
		{
			partidos.map(({ timestamp, copa, img, vs }) => (
				<Card
					client:load
					transition:animate='slide'
					transition:name={vs}
					key={vs}
					img={img}
					copa={copa}
					timestamp={timestamp}
					vs={vs}
				/>
			))
		}
	</div>
</main>
